* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Sour Gummy", sans-serif;
  background-color: #e0f7fa;
  background-image: linear-gradient(135deg, #9fdffd, #7ccffc);
  color: #333;
  height: 100vh;
  display: flex;
}

h1 {
  font-family: "Sour Gummy", sans-serif;
  font-size: 2.4rem;
  color: #1e90ff;
  text-align: center;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  padding: 10px;
  border-radius: 15px;
  margin: 10px 0;
}

.container {
  height: 580px;
  width: 580px;
  margin: auto;
  border-radius: 15px;
  background-color: #c7f1ff6f;
  border: 4px solid #1e90ff;
}
.memory-game {
  margin: auto;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 78%;
  display: flex;
  flex-wrap: wrap;
  perspective: 1000px;
  opacity: 1;
  transition: 2s ease;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
  border: 3px solid #1e90ff;
}

.card {
  position: relative;
  width: 20%;
  height: 30%;
  transform: scale(1);
  transform-style: preserve-3d;
  transition: transform 0.5s;
  margin: 4px;
  cursor: pointer;
}

.card.disabled {
  cursor: inherit;
}
.card:active {
  transform: scale(0.97);
  transition: transform 0.2s;
}
.card.flip {
  transform: rotateY(180deg);
}
.front,
.back {
  position: absolute;
  backface-visibility: hidden;
}

.front {
  transform: rotateY(180deg);
}

.memory-game.faded {
  opacity: 0.2;
}

.final-container {
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
}

.final-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.final-container.show {
  display: unset;
}

h2 {
  font-family: "Sour Gummy", sans-serif;
  font-size: 5rem;
  color: #ff6f61;
  text-align: center;
  margin-bottom: 20px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

button {
  font-family: inherit;
  font-size: 1.5rem;
  background-color: #5dbb63;
  color: white;
  padding: 10px 25px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: transform 0.2s, background-color 0.2s;
}

button:hover {
  background-color: #4a9e4a;
  transform: scale(1.1);
}

button:focus {
  outline: none;
  box-shadow: 0 0 10px rgba(0, 0, 255, 0.5);
}
